.header-container {
  padding: 0 24px 0;
  position: absolute;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 9999;
}

.navbar {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1439px) {
  .navbar-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .navbar-btn {
    color: #1565d8;
    border-radius: 8px;
    padding: 13px 24px;
    font-weight: 700;
    box-shadow: 0px 10px 25px 0px #1525481a;
    border: 2px solid #1565d8;
  }
}

.navbar-link {
  color: #183b56;
  font-size: 17px;
}

.active .navbar-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.active .navbar-list .navbar-item .navbar-btn:last-child {
  margin-top: 20px;
  color: #1565d8;
  border-radius: 8px;
  padding: 13px 24px;
  font-weight: 700;
  box-shadow: 0px 10px 25px 0px #1525481a;
  border: 2px solid #1565d8;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s;
}

.menu-toggle {
  display: none;
}

.menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}
.menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.menu-toggle:checked ~ .navbar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1440px) {
  .navbar {
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 60px;
    right: 0;
    height: 310px;
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    gap: 16px;
    z-index: 9998;
  }

  .hamburger {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 59px 0;
  }
  .header {
    padding: 10px 0;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    display: flex;
    padding: 26px 0;
    width: 594px;
  }
  .navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 594px;
  }
  .navbar-link {
    color: #183b56;
    font-size: 16px;
    font-weight: 600;
  }
  .navbar-btn {
    color: #1565d8;
    border-radius: 8px;
    padding: 13px 24px;
    font-weight: 700;
    box-shadow: 0px 10px 25px 0px #1525481a;
    border: 2px solid #1565d8;
  }
  .hamburger {
    display: none;
  }
  .header-container {
    padding: 0 150px 0;
  }
}
